
OPENROUTER_API_KEY=
NEWS_API_KEY=
TTS_AI_KEY=

PORT=3000
FRONTEND_URL=http://localhost:5173

####################################
# Storage
####################################

MAX_EPISODES=7
AUDIO_FOLDER=./audio
DATA_FILE=./data/episodes.json